.Coverimage {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 225px;
  left: 546px;
  width: 250px;
}

.subheading {
  position: absolute;
  top: 292px;
  left: 394px;
  color: white;
  font-weight: 400;
}

.searchbar {
  /* font-Size: 16;
    color: '#1890ff'; */
  position: absolute;
  top: 367px;
  left: 425px;
}

.ant-popover {
  width: 37%;
  max-height:200px;
  overflow-y:scroll;
}

.ant-popover::-webkit-scrollbar{
  display: none;
}

.ant-popover-inner-content{
  display: flex;
  flex-direction: column;
}

.cardHolder{
  display: flex;
  flex-direction: column;
}

.ant-card{
  display: flex;
  width :100% !important;
  flex-direction: row;
}

.ant-card-cover{
  height: 68px;
  width: 72px;
}
