.Search .ant-input-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  left: 260px;
  height: 60px;
  shadow: 0 1px 2px -2px rgb(0 0 0 / 5%), 0 3px 6px 0 rgb(0 0 0 / 5%), 0 5px 12px 4px rgb(0 0 0 / 5%);
}

.heading {
  top: 9px;
  align-items: center;
  font-size: medium;
  font-family: Metropolis Regular;
  font-style: italic;
  font-weight: 600 !important;
  justify-content: center;
  display: flex;
  position: relative;
  left: 198px;
}

.profile {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  left: 362px;
}


.ant-dropdown-trigger{


  position: relative;
  left: 370px;

}
